<?xml version='1.0' encoding='utf-8'?>
<widget id="com.eyhc.melancometre" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MélancoMètre</name>
    <description>A basic application for collecting data about his mental health stored locally</description>
    <author email="eyh.carrot@gmail.com" href="https://github.com/eyhc/melancometre">
        Elie Carrot
    </author>
    <content src="index.html" />
    <icon src="res/logo.png" />

    <!-- Security Related Settings -->
    <access origin="https://cordova.apache.org" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- Platform Configs & Platform Overriding Configs -->
    <platform name="android">
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/splashscreen.xml" />
        <preference name="AndroidWindowSplashScreenBackground" value="#fafae0" />
        <preference name="AutoHideSplashScreen" value="false" />
    </platform>
</widget>
